body {
  background: #222831;
  font-family: Sans-Serif;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 75px;
}

.item {
  background: #00ADB5;
  display: table;
  height: 70px;
  margin: 10px;
  width: 180px;
  transition: 0.3s linear;
}

.item:hover {
  background: #006469;
  transition: 0.3s linear;
}

a {
  color: #EEEEEE;
  display: table-cell;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 180px;
}ow: 1;
}

.three {
  grid-column: 1;
  grid-row: 2;
}

.four {
  grid-column: 2;
  grid-row: 2;
}

.five {
  grid-column: 1;
  grid-row: 3;
}

.six {
  grid-column: 2;
  grid-row: 3;
}
